h2 {
    font-size: 25px;
}

main {
    display: grid;
    grid-template-areas:
    '.'
    '.'
    '.';
    grid-gap: 20px;
    padding: 20px;
}

@media screen and (min-width: 992px) {
    #general {
        grid-area: general;
    }

    #history {
        grid-area: history;
    }

    #sights {
        grid-area: sight;
    }

    h1 {
        text-align: center;
        grid-area: h1;
    }

    main {
        grid-template-areas:
        '. h1 .'
        'history general sight'
        'history general sight'
        'history general sight';
    }
}