html, body {
    height: 100%;
    margin: 0;
    font-family: helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}


main {
    flex-grow: 1;
}

section {
    color: white;
    font-size: 3vw;
}

main p {
    font-size: 20px;
}

#image_container {
    width: 100%;
    text-align: center;
    position: relative;
    z-index: -1;
    height: 40vh;
}

#image_container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#image_container h1 {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); /* Add semi-transparent background */
}

#text_section {
    text-align: center;
    display: flex;
    color: black;
    min-height: 50vh;
}

#text_section aside {
    width: auto;
    color: white;
    background-color: #0c2e33;
}

#text_section a:hover {
    background-color: white;
    color: black;
}

#text_section a {
    white-space: nowrap; /* Prevent text from wrapping */
    display: inline-block;
    margin: 0 20px;
    color: white;
    padding: 20px 0;
    text-decoration: none;
    font-size: 1.5rem;
}